
.container-fluid.bg-dark{
  background-color: black !important;
}

.btn-outline-success{
  color: rgb(189, 191, 192) !important;
  border-color: rgb(194, 200, 202) !important;
  background: rgb(59, 55, 55);
}


.mypic{
  display: flex;
  animation-name: twinkle;
  animation: 5s twinkle infinite linear;
  animation-duration: 90s;
  align-content: center;
  max-width: 90%;
}
.foo {
  animation: 5s spinnow infinite linear;
}
@keyframes twinkle {
  20% {
    transform: scale(0.2);
    opacity: 0;
  }
}
.mypic:hover {
  transform: scaleX(-1);

}
.row{
  width: 95%;
}
/* .col-lg-6{
  border: 20px solid red;
} */

.col-lg-6 h1{
  position: absolute;
  /* left: 20%;
  bottom: 50%; */
  padding: 30% 20%;
}
.col-md-12.img{
  opacity: 0.0;
}
.col-md-6 h1{
  position: absolute;
  /* left: 20%;
  bottom: 50%; */
  padding: 30% 9%;
}

/* hopage display on mobile device */
@media only screen and (max-width: 600px) {
  .intro {
       
    font-size: 26px;
    
  }
}
@media only screen and (max-width: 600px) {
  .img {
    
    opacity: 0.0;
            
  }
}










